[Unit]
Description=Xray Exporter
After=network.target xray.service
Wants=xray.service

[Service]
Type=simple
User=nobody
RestartSec=5
ExecStart=/usr/local/bin/xray-exporter --v2ray-endpoint=127.0.0.1:{{ xray_api_port }} --listen=:{{ xray_exporter_port }} --metrics-path=/metrics --scrape-timeout=10
Restart=on-failure

[Install]
WantedBy=multi-user.target
