[defaults]
inventory = inventory/
host_key_checking = False
retry_files_enabled = False
nocows = 1
deprecation_warnings = False
interpreter_python = auto_silent
# Use a human-readable output callback
stdout_callback = default
result_format = yaml
bin_ansible_callbacks = True
timeout = 120

[ssh_connection]
pipelining = True
control_path = /tmp/ansible-ssh-%%h-%%p-%%r
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
