---
- name: Set hostname
  hostname:
    name: "{{ inventory_hostname }}"

- name: Update /etc/hosts
  lineinfile:
    path: /etc/hosts
    regexp: ".*{{ item }}$"
    line: "{{ hostvars[item]['ansible_host'] }} {{ item }}"
    state: present
  when: hostvars[item]['ansible_host'] is defined
  loop: "{{ groups['all'] }}"

- name: Install system dependencies
  apt:
    name:
      - curl
      - gnupg
      - ca-certificates
      - htop
      - systemd-timesyncd
      - fail2ban
    state: present
    update_cache: true

- name: Enable NTP (systemd-timesyncd)
  service:
    name: systemd-timesyncd
    state: started
    enabled: true

# --- Swap Configuration ---
- name: Calculate Swap Size
  set_fact:
    swap_size_mb: "{{ 1024 if ansible_memtotal_mb < 1024 else ansible_memtotal_mb }}"

- name: Check if swap file exists
  stat:
    path: /swapfile
  register: swap_file

- name: Create swap file
  command: dd if=/dev/zero of=/swapfile bs=1M count={{ swap_size_mb }}
  when: not swap_file.stat.exists

- name: Set swap file permissions
  file:
    path: /swapfile
    mode: '0600'

- name: Format swap file
  command: mkswap /swapfile
  when: not swap_file.stat.exists

- name: Enable swap
  command: swapon /swapfile
  when: not swap_file.stat.exists

- name: Persist swap in fstab
  mount:
    path: none
    src: /swapfile
    fstype: swap
    opts: sw
    state: present

- name: Tune Swappiness
  sysctl:
    name: vm.swappiness
    value: '60'
    state: present
# --------------------------

- name: Harden SSH configuration
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
    validate: 'sshd -t -f %s'
  loop:
    - { regexp: '^#?PermitRootLogin', line: 'PermitRootLogin prohibit-password' }
    - { regexp: '^#?PasswordAuthentication', line: 'PasswordAuthentication no' }
    - { regexp: '^#?ChallengeResponseAuthentication', line: 'ChallengeResponseAuthentication no' }
    - { regexp: '^#?UsePAM', line: 'UsePAM yes' } # Fail2Ban needs PAM
    - { regexp: '^Include /etc/ssh/sshd_config.d/\*.conf', line: '#Include /etc/ssh/sshd_config.d/*.conf' }
  notify: Restart SSH

- name: Ensure Fail2Ban is running
  service:
    name: fail2ban
    state: started
    enabled: true
