---
- name: Add Tailscale GPG key
  shell: |
    curl -fsSL https://pkgs.tailscale.com/stable/ubuntu/jammy.noarmor.gpg | tee /usr/share/keyrings/tailscale-archive-keyring.gpg >/dev/null
  args:
    creates: /usr/share/keyrings/tailscale-archive-keyring.gpg

- name: Add Tailscale Repo
  shell: |
    curl -fsSL https://pkgs.tailscale.com/stable/ubuntu/jammy.tailscale-keyring.list | tee /etc/apt/sources.list.d/tailscale.list
  args:
    creates: /etc/apt/sources.list.d/tailscale.list

- name: Install Tailscale
  apt:
    name: tailscale
    state: present
    update_cache: true

- name: Enable Tailscale service
  service:
    name: tailscaled
    state: started
    enabled: true

- name: Authenticate Tailscale
  shell: |
    tailscale up --authkey={{ tailscale_auth_key }}
  register: tailscale_up
  changed_when: "'Success' in tailscale_up.stdout or 'Logged in' in tailscale_up.stdout"
