---

- name: Fetch K3s Token from Master
  slurp:
    src: /var/lib/rancher/k3s/server/node-token
  delegate_to: "{{ k3s_master_host }}"
  register: k3s_token_slurp
  become: true

- name: Install K3s Agent
  shell: |
    curl -sfL https://get.k3s.io | sh -s - agent \
    --server https://{{ hostvars[k3s_master_host]['ansible_host'] }}:6443 \
    --token {{ k3s_token_slurp.content | b64decode | trim }} \
    --node-external-ip {{ ansible_host }} \
    --flannel-backend=none \
    --kubelet-arg="fail-swap-on=false"
  args:
    creates: /var/lib/rancher/k3s/agent/kubelet.kubeconfig
  # If you want a specific version, uncomment and set:
  # environment:
  #   INSTALL_K3S_VERSION: "v1.28.x+k3s1"
