---
- name: Set hostname
  hostname:
    name: "{{ inventory_hostname }}"

- name: Update /etc/hosts
  lineinfile:
    path: /etc/hosts
    regexp: ".*{{ item }}$"
    line: "{{ hostvars[item]['ansible_host'] }} {{ item }}"
    state: present
  when: hostvars[item]['ansible_host'] is defined
  loop: "{{ groups['all'] }}"

- name: Install system dependencies
  apt:
    name:
      - curl
      - gnupg
      - ca-certificates
      - htop
      - systemd-timesyncd
      - fail2ban
    state: present
    update_cache: true

- name: Enable NTP (systemd-timesyncd)
  service:
    name: systemd-timesyncd
    state: started
    enabled: true

- name: Harden SSH configuration
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
    validate: 'sshd -t -f %s'
  loop:
    - { regexp: '^#?PermitRootLogin', line: 'PermitRootLogin prohibit-password' }
    - { regexp: '^#?PasswordAuthentication', line: 'PasswordAuthentication no' }
    - { regexp: '^#?ChallengeResponseAuthentication', line: 'ChallengeResponseAuthentication no' }
    - { regexp: '^#?UsePAM', line: 'UsePAM yes' } # Fail2Ban needs PAM
    - { regexp: '^Include /etc/ssh/sshd_config.d/\*.conf', line: '#Include /etc/ssh/sshd_config.d/*.conf' }
  notify: Restart SSH

- name: Ensure Fail2Ban is running
  service:
    name: fail2ban
    state: started
    enabled: true
