---
- name: Set hostname
  hostname:
    name: "{{ inventory_hostname }}"

- name: Populate /etc/hosts with inventory hosts
  blockinfile:
    path: /etc/hosts
    block: |
      {% for item in groups['all'] %}
      {% if hostvars[item]['ansible_host'] is defined %}
      {{ hostvars[item]['ansible_host'] }} {{ item }}
      {% endif %}
      {% endfor %}
    marker: "# {mark} ANSIBLE MANAGED BLOCK"
