---
- name: Set hostname
  hostname:
    name: "{{ inventory_hostname }}"

- name: Update /etc/hosts
  lineinfile:
    path: /etc/hosts
    regexp: ".*{{ item }}$"
    line: "{{ hostvars[item]['ansible_host'] }} {{ item }}"
    state: present
  when: hostvars[item]['ansible_host'] is defined
  loop: "{{ groups['all'] }}"
